<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
    tools:ignore="SelectedPhotoAccess" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application>

    <activity
      android:name=".activities.HomeActivity"
      android:exported="true">
    </activity>
    <activity
      android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
      android:theme="@style/AppTheme.Licence" />
    <activity
      android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
      android:theme="@style/AppTheme.Licence" />
    <activity
      android:name=".activities.EditorActivity"
      android:exported="true" />
    <activity
      android:name=".activities.ShowXMLActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:exported="true"
      android:windowSoftInputMode="adjustResize"
      android:parentActivityName=".activities.EditorActivity" />
    <activity
      android:name=".activities.CrashActivity"
      android:exported="true" />
    <activity
      android:name=".activities.PreviewLayoutActivity"
      android:exported="true"
      android:parentActivityName=".activities.EditorActivity" />
    <activity
      android:name=".activities.ResourceManagerActivity"
      android:exported="true"
      android:parentActivityName=".activities.EditorActivity" />
    <activity
      android:name=".activities.PreviewDrawableActivity"
      android:exported="true"
      android:parentActivityName=".activities.ResourceManagerActivity" />
    <activity android:name=".activities.HelpActivity"/>
  </application>

</manifest>
